/* Accordion Container */
.accordion-3-depth .depth-1-item > a {
	display: block;
	padding: 20px;
	position: relative;
	margin: 0;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 0.8px;
	color: #8d63d9;
	transition: ease-in-out 0.2s all;
	cursor: pointer;
}

.accordion-3-depth .depth-1-item > a:hover {
	padding-left: 25px;
}

/* Accordion Item line */
.accordion-3-depth .depth-1-item > a:before,
.accordion-3-depth .depth-1-item > a:after {
	content: "";
	position: absolute;
	height: 2px;
	border-radius: 50px;
	transition: ease-in-out 0.6s all;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.accordion-3-depth .depth-1-item > a:before {
	width: 100%;
	background-color: #c9d6df;
}

.accordion-3-depth .depth-1-item > a:after {
	background-image: linear-gradient(90deg, #8d63d9, #c9d6df);
	width: 0%;
}

.accordion-3-depth .depth-1-item > a:hover::after {
	width: 100%;
}

/* Accordion Item line - Active */
.accordion-3-depth .depth-1-item.on:after {
	content: "";
	position: absolute;
	height: 2px;
	border-radius: 50px;
	transition: ease-in-out 0.6s all;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.accordion-3-depth .depth-1-item.on:after {
	background-image: linear-gradient(90deg, #52616b, #c9d6df);
	width: 100%;
}

/* Accordion Item Icon  */
.accIcon {
	float: right;
	width: 30px;
	height: 30px;
	display: flex;
	margin-top: -3px;
	align-items: center;
	justify-content: center;
}

.accIcon:before,
.accIcon:after {
	content: "";
	position: absolute;
	border-radius: 50px;
	background-color: #c9d6df;
	transition: ease 0.3s all;
}

.accIcon:before {
	width: 2px;
	height: 20px;
}

.accIcon:after {
	width: 20px;
	height: 2px;
}

.accordion-3-depth .depth-1-item > a:hover .accIcon:before,
.accordion-3-depth .depth-1-item > a:hover .accIcon:after {
	background-color: #8d63d9;
}

.accordion-3-depth .depth-1-item.on .accIcon:before {
	transform: rotate(90deg);
}

/* Text Content */
.accordion-3-depth .depth-1-item .depth-1-content {
	opacity: 0;
	height: 0;
	padding: 0px 20px;
	position: relative;
	line-height: 24px;
	font-size: 16px;
	font-weight: 200;
	transition: all 0.6s cubic-bezier(0.42, 0.2, 0.08, 1);
	overflow: hidden;
	background-color: #f0f5f9;
	letter-spacing: 0.5px;
}

.accordion-3-depth .depth-1-item.on .depth-1-content {
	opacity: 1;
	height: auto;
	padding: 25px 20px;
	position: relative;
	z-index: 0;
	border-radius: 0px 0px 3px 3px;
}

.accordion-3-depth .depth-2-item > a {
	display: block;
	padding: 20px 30px;
	position: relative;
	margin: 0;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 0.8px;
	color: #5c399c;
	transition: ease-in-out 0.2s all;
	cursor: pointer;
    background-color: #daccf1;
}

.accordion-3-depth .depth-2-item .depth-2-content {
	opacity: 0;
	height: 0;
	padding: 0px 20px;
	position: relative;
	line-height: 24px;
	font-size: 16px;
	font-weight: 200;
	transition: all 0.6s cubic-bezier(0.42, 0.2, 0.08, 1);
	overflow: hidden;
	background-color: #f0f5f9;
	letter-spacing: 0.5px;
}

.accordion-3-depth .depth-2-item.on .depth-2-content {
	opacity: 1;
	height: auto;
	padding: 25px 20px;
	position: relative;
	z-index: 0;
	border-radius: 0px 0px 3px 3px;
}

.accordion-3-depth .depth-3-item > a {
	display: block;
	padding: 20px 50px;
	position: relative;
	margin: 0;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 0.8px;
	color: #5c399c;
	transition: ease-in-out 0.2s all;
	cursor: pointer;
    background-color: #efe6ff;
}

.accordion-3-depth .depth-3-item .depth-3-content {
	opacity: 0;
	height: 0;
	padding: 0px 20px;
	position: relative;
	line-height: 24px;
	font-size: 16px;
	font-weight: 200;
	transition: all 0.6s cubic-bezier(0.42, 0.2, 0.08, 1);
	overflow: hidden;
	background-color: #f0f5f9;
	letter-spacing: 0.5px;
}

.accordion-3-depth .depth-3-item.on .depth-3-content {
	opacity: 1;
	height: auto;
	padding: 25px 40px;
	position: relative;
	z-index: 0;
	border-radius: 0px 0px 3px 3px;
}